html,body {
    margin: 0;
    padding: 0;
    font-family: museo-sans, sans-serif;
    background-color: rgb(0, 0, 0);
    user-select: none;
}

h1 {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: -.25rem;
    font-size: 32pt;
}

img {
    cursor: default;
    -webkit-user-drag: none;
}

.full-screen section.front {
    background: url("assets//bg.png");
    background-size: cover;
    background-color: rgb(50, 50, 50);
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.title-text {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
    color: white;
}

.title-text img {
    margin-left: .25rem;
    margin-right: .25rem;
    height: 48px;
    opacity: .5;
    transition: opacity 500ms ease;
    vertical-align: center;
}

.title-text img.twitter {
    margin-left: -.25rem;
    margin-right: -.25rem;
    height: 56px;
    vertical-align: -4px;
}

.title-text img.discord {
    height: 40px;
    vertical-align: 4px;
}

.title-text img.roblox {
    height: 36px;
    vertical-align: 6px;
    filter: brightness(0) invert(1);
}

.title-text img.email {
    height: 32px;
    vertical-align: 8px;
}

.title-text a {
    cursor: default;
    -webkit-user-drag: none;
}

.title-text img:hover {
    opacity: .75;
}

.title-text img:active {
    opacity: 1;
}